.user-reviews-main {
    width: 50%;
    max-width: 400px;
  }
  
  .user-reviews {
    list-style-type: none;
    border: 1px grey solid;
    float: left;
  }
  
  .account-info {
    display:flex;
    flex-direction:column;
    width: 49%;
  }
  
  .edit-user-info {
    display: block;
    margin: auto;
  }