.user-reviews-main {
   margin: auto;
  }

.user-reviews-main h2 {
  font-size: 2.2em;
  text-shadow: 1px 2px 3px #570515;
}
  
.user-reviews {
  list-style-type: none;
  border: 1px grey solid;
  margin: auto;
}

.user-li-item {
  border: 1px;
  border-radius: 3px;
  margin: 8px;
  background-color: rgba(87,5,21,0.65);
  color: white;
}

.user-li-item h4{
  font-size: 20px;
  text-shadow: 1px 2px #570515;
}

.edit-review-button {
  color: black;
}

.delete-review-button {
  color: black;
}
  
  