nav,
footer {
  padding: .5% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.sign-in, .home {
  float: right;
}

.title {
  float: left;
}

header {
  padding: 4% 0;
}