nav,
footer {
  padding: 1.3% 0;
  background-color: rgba(76,97,61,0.65);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.banner, .banner-link {
  text-decoration: none;
}

.register-link:hover {
  color: white;
  cursor: pointer;
}

.fa-user-plus:hover {
  color: #570515;
}

.register-link:visited {
  color: #570515;
}

.header h1 {
  font-family: 'Oswald', sans-serif;
  color: white;
}

@media screen and (min-width: 320px) {
  .navigation {
    display: flex;
  }

  .header h1 {
    margin-top: 100px;
    font-size: 60px;
    text-shadow: 3px 2px #570515;
  }

  .navigation, .register-link {
    font-size: 25px;
  }

  .fa-user-circle, .fa-sign-out-alt {
    font-size: 35px;
    padding: 15px;
  }
}


@media screen and (min-width: 765px) {
  .navigation {
    display: flex;
  }

  .header h1 {
    margin-top: 125px;
    font-size: 85px;
    text-shadow: 4px 3px #570515;

  }

  .navigation, .register-link {
    font-size: 38px;
    text-decoration: none;
  }

  .fa-user-circle, .fa-sign-out-alt {
    font-size: 45px;
    padding: 15px;
  }
}

@media screen and (min-width: 1000px) { 
  .navigation {
    display: flex;
    justify-content: flex-end;
  }

  .header-logged-out a {
    float: right;
    padding-right: 24px;
  }

  .header h1 {
    margin-top: 130px;
    font-size: 80px;
    font-family: 'Oswald', sans-serif;
    color: white;
    text-shadow: 5px 4px #570515;
  }

  .navigation, .register-link {
    font-size: 30px;
    text-decoration: none;
  }

  .fa-user-circle {
    font-size: 35px;
    padding: 10px;
    float: left;
  }

  .fa-sign-out-alt {
    font-size: 35px;
    padding: 10px;
    float: right;
  }
}