nav,
footer {
  padding: 1.3% 0;
  background-color: rgba(229,248,255,0.7)
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.banner, .banner-link {
  text-decoration: none;
}

.register-link {
  color: #0E2944;
}

.fa-user-plus {
  color: #0E2944;
}

.register-link:hover {
  color: white;
}

.fa-user-plus:hover {
  color: white;
  cursor: pointer;
}

.fa-user-circle:hover {
  color: #0E2944;
}

.fa-sign-out-alt:hover {
  color: #0E2944;
}

.fa-search:hover {
  color: #0E2944;
}

header h1 {
  font-family: 'Oswald', sans-serif;
  color: white;
}

.header h1:hover{
  text-decoration: underline;
}

@media screen and (min-width: 320px) {
  .navigation {
    display: flex;
  }

  .header h1 {
    font-size: 45px;
    margin-top: 100px;
    text-shadow: 2px 3px #0E2944
  }

  .navigation, .register-link {
    font-size: 25px;
  }

  .fa-user-circle, .fa-sign-out-alt, .fa-search {
    font-size: 35px;
    padding: 15px;
    text-shadow: 1px 2px 3px #0E2944;
  }
}


@media screen and (min-width: 765px) {
  .navigation {
    display: flex;
  }

  .header h1 {
    margin-top: 125px;
    font-size: 65px;
    text-shadow: 2px 3px #0E2944
  }

  .navigation, .register-link {
    font-size: 30px;
    text-decoration: none;
  }

  .fa-user-circle {
    color: #0E2944;
    font-size: 35px;
    padding: 10px;
    float: left;
  }

  .fa-sign-out-alt {
    color: #0E2944;
    font-size: 35px;
    padding: 10px;
    float: right;
  }

  .fa-search{
    color: #0E2944;
    font-size: 35px;
    padding: 10px;
    float: left;
  }

  .fa-user-circle:hover {
    color: #D27B81;
  }
  
  .fa-sign-out-alt:hover {
    color: #D27B81;
  }
  
  .fa-search:hover {
    color: #D27B81;
  }
}

@media screen and (min-width: 1000px) { 
  .navigation {
    display: flex;
    justify-content: flex-end;
  }

  .header-logged-out a {
    float: right;
    padding-right: 24px;
  }

  .header h1 {
    margin-top: 130px;
    font-size: 80px;
    text-shadow: 3px 3px #0E2944
  }

  .navigation, .register-link {
    font-size: 30px;
    text-decoration: none;
  }

  .fa-user-circle {
    font-size: 35px;
    padding: 10px;
    float: left;
  }

  .fa-sign-out-alt {
    font-size: 35px;
    padding: 10px;
    float: right;
  }

  .fa-search{
    font-size: 35px;
    padding: 10px;
    float: left;
  }
}