.search-page-header {
  color: white;
  text-shadow: 2px 3px 3px #0E2944;
}

@media screen and (min-width: 320px) {
  .search-page-header {
    font-size: 27px;
  }
}

@media screen and (min-width: 765px) {
  .search-page-header {
    font-size: 35px;
  }
}