label {
  display: block;
}

.login-fieldset {
  border: none;
  background-color: rgba(229,248,255,0.8);
  border-radius: 5px;
}

.sign-in-main h1 {
  color: #0E2944;
  text-shadow: 1px 1px white;
}

.sign-in-button {
  display: block;
  margin: auto;
  background-color: white;
  color: #0E2944;
  margin-top: 10px;
  border-radius: 4px;
  height:40px;
  width: 135px;
  font-size: 20px;
  font-family: 'Questrial', sans-serif;
}

.sign-in-button:hover{
  background-color: #0E2944;
  color: white;
}

.sign-in-main input {
  color: black;
  font-size: 15px;
  border-radius: 5px;
}

.login-error {
  color: red;
} 

.error p {
  text-shadow: 1px 2px white;
}

.demo-login-info h2, p {
  color: #0E2944;
}

.validation-error {
  color: #0E2944;
}


@media screen and (min-width: 320px) {
  .sign-in-main {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
  }

  .sign-in-main h1 {
    font-size: 34px;
    text-decoration: underline;
  }

  .sign-in-email, .sign-in-password {
    font-size: 30px;
  }

  .sign-in-main input {
    width: 75%;
    height: 40px;
    font-size: 15px;
    margin: 12px;
  }

  .demo-login-info {
    font-size: 20px;
  }
}

@media screen and (min-width: 765px) {
  .sign-in-main {
    width: 98%;
    margin: auto;
    margin-bottom: 20px;
  }

  .sign-in-main h1 {
    font-size: 40px;
    text-decoration: underline;
  }

  .sign-in-email, .sign-in-password {
    font-size: 30px;
  }

  .sign-in-main input {
    height:50px;
    width: 85%;
    font-size: 27px;
    margin: 12px;
  }

  .demo-login-info {
    font-size: 20px;
  }

  .sign-in-button {
    margin-top: 17px;
    height:50px;
    width: 180px;
    font-size: 26px;
  }
}

@media screen and (min-width: 1000px) { 
  .login-fieldset{
    background-color: rgba(229,248,255,0.9);
  }
  .sign-in-main {
    margin: 60px;
  }

  .sign-in-main h1 {
    font-size: 35px;
    text-decoration: underline;
  }

  .sign-in-email, .sign-in-password {
    font-size: 30px;
  }

  .sign-in-main input {
    width: 70%;
    height:45px;
    font-size: 27px;
    margin: 15px;
  }

  .demo-login-info {
    font-size: 20px;
  }

  .sign-in-button {
    margin-top: 25px;
    height:45px;
    width: 200px;
    font-size: 27px;
  }
}

