.description {
  background-color: rgba(229,248,255,0.8);
  border-radius: 5px;
}

.description h2, h3, p {
  text-shadow: 1px 1px white;
  color:#0E2944;
}

.fa-beer, .fa-wine-glass-alt {
  font-size: 40px;
  text-shadow: 2px 2px #0E2944;
}

.signup-link {
  color: #D27B81;
}

.signup-link:hover {
  color: white;
}

@media screen and (min-width: 320px) {
  .description h2 {
    font-size: 30px;
  }

  .description p {
    font-size: 20px;
    padding: 5px;
  }

  .review-page legend {
    font-size: 20px;
  }
}

@media screen and (min-width: 765px) {
  .description h2 {
    font-size: 32px;
  }
  .description {
    width: 50%;
    float: right;
    margin-left: 35px;
  }
  .description p {
    font-size: 23px;
    padding: 5px;
  }
}

@media screen and (min-width: 1000px) { 
  .description {
    width: 49%;
    float: right;
    margin-top: 50px;
    margin-bottom: 25px;
  }

  .description p {
    font-size: 25px;
  }
}