@media screen and (min-width: 320px) {
  .description {
    text-shadow: 1px 2px #251e1e;
  }
}

@media screen and (min-width: 765px) {
  .description {
    width: 50%;
    float: right;
    text-shadow: 1px 2px #251e1e;
    margin-left: 15px;
  }
}

@media screen and (min-width: 1000px) { 
  .description {
    width: 49%;
    float: right;
    margin-top: 50px;
    margin-bottom: 25px;
  }
}