* {
    box-sizing: border-box;
    color: white;
  } 
  body {
    font-size: 20px;
    text-align: center; 
    line-height: 1.5;
    background: url(./background3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Questrial', sans-serif;
  }

  .login {
    width: 95%;
    margin: auto;
  }

  .header-logged-in-profile {
    margin-left: auto;
    margin-right: auto;
  }



  