* {
    box-sizing: border-box;
    color: white;
  }
  
  body {
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    background: url(./background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Questrial', sans-serif;
  }
  
  section {
    padding: 6% 0;
  }

  .header-logged-in-profile {
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    width: 100%;
  }

  .header-logged-in-profile a:hover {
    font-size: 45px;
    color: #570515;
  }

  .logged-in-search {
    font-size: 30px;
    text-shadow: 1px 1px #570515;
  }

  .fa-wine-glass-alt{
    color: #570515;
  }


  