 .user-reviews-main {
    margin: auto;
 }
 
 .user-reviews-list {
   list-style-type: none;
   padding-left: 0;
   border: 1.5px solid #0E2944;
   border-radius: 3px;
   margin: 10px;
   background-color: rgba(229,248,255,0.85);
   color: #0E2944;
 }
 
 .user-review-item h4{
   color: #0E2944;
   font-size: 20px;
 }

.user-review-item p{
  padding-left: 5px;
  padding-right: 5px;
  color: #0E2944;
  text-shadow: none;
  font-size: 20px;
}

.date-created {
  color: #0E2944;
  font-size: 20px;
}
 
 .delete-review-button {
   font-family: 'Questrial', sans-serif;
   background-color: white;
   border-radius: 2px;
   font-size: 15px;
   color: #0E2944;
   margin: 10px;
 }

 .delete-review-button:hover {
  background-color: #0E2944;
  color: white;
 }


@media screen and (min-width: 320px) {
  .delete-review-button {
    width: 100px;
    height: 30px;
    border-radius: 2px;
    font-size: 15px;
  }
}

@media screen and (min-width: 765px) {
  .user-reviews-list {
    margin: 25px;
  }

  .user-review-item h4{
    font-size: 25px;
  }

  .user-review-item p{
    font-size: 20px;
  }

  .date-created {
    font-size: 20px;
  }
}

@media screen and (min-width: 1000px) { 
  .user-reviews-list {
    margin: 40px auto;
    width: 75%;
  }

  .user-review-item h4{
    font-size: 30px;
  }
  
  .user-review-item p{
    font-size: 23px;
  }

  .date-created {
    font-size: 23px;
  }

  .delete-review-button {
    width: 120px;
    height: 40px;
    font-size: 20px;
  }
}