.search-label {
  font-size: 1.5em;
  text-shadow: 1px 1px black;
}

.search-input-form input {
  width: 24em;
  height:3.2em;
  border-radius: 5px;
  margin-bottom: 20px;   
  color: black;
}

.search-button {
  margin-top: 10px;
  border-radius: 4px;
  height:35px;
  width: 4em;
  font-size: 20px;
  display: block;
  margin: auto;
  color:black;
}

.search-results {
  margin-top: 50px;
}

.results-li {
  list-style-type: none;
  padding-left: 0;
}
.results-li h3 {
  font-size: 25px;
  color: white;
}
.search-li-item {
  border: 1px;
  border-radius: 3px;
  background-color: rgba(87,5,21,0.65);
  color: white;
} 

.beverage-link {
  font-size: 25px;
  text-shadow: 1px 1px #570515;
  color: white;
}

.search-results a:hover {
  font-size: 30px;
  text-shadow: 2px 2px #570515;
}

.bev_type {
  font-size: 18px;
}