.reviews-page h2 {
  text-shadow: 2px 2px #0E2944;
}

@media screen and (min-width: 320px) {
  .reviews-page h2 {
    font-size: 25px;
  }
}

@media screen and (min-width: 765px) {
  .reviews-page h2 {
    font-size: 30px;
  }
}

@media screen and (min-width: 1000px) { 
  .reviews-page h2 {
    font-size: 35px;
  }
}