.sign-up-main {
    width: 75%;
    margin: auto;
  }

  .sign-up-legend {
    font-size: 2em;
  }

  .sign-up-fieldset {
    border: 3px solid black;
  }

  .sign-up-description {
    font-size: 1.8em;
    text-shadow: 1px 1px white;
  }
  
  .sign-up-button {
    display:block;
    margin: auto;
    margin-top: 10px;
    border-radius: 4px;
    height:40px;
    width: 10em;
    font-size: 15px;
  }

  .sign-up-main label {
    font-size: 1.4em;
    text-shadow: 1px .5px white;
  }

  .sign-up-main input {
    width: 15em;
    height:2.5em;
    padding-bottom: 20px;  
  }

  ul {
    font-size: .8em;
    list-style-type: none;
  }