.sign-up-main {
  width: 75%;
  margin: auto;
  margin-bottom: 30px;
}

.sign-up-fieldset {
  border: none;
  background-color: rgba(87,5,21,0.65);
  border-radius: 5px;
}

.sign-up-main input {
  font-family: 'Questrial', sans-serif;
  box-shadow: 1px 1px #570515;
  border-radius: 4px;
  color: black;
}

.sign-up-button {
  font-family: 'Questrial', sans-serif;
  display:block;
  margin: auto;
  margin-top: 20px;
  border-radius: 4px;
  background-color:white;
  color: black;
}

.sign-up-main label {
  text-shadow: 2px 2px #570515;
  padding: 10px;

}
.signup-error{
  color:red;
}
ul {
  font-size: 15px;
  list-style-type: none;
} 

@media screen and (min-width: 320px) {
  .signup-page h3 {
    font-size: 25px;
  }

  .sign-up-main label {
    font-size: 25px;
  }

  .sign-up-main input {
    width: 240px;
    height:40px;
    font-size: 20px;
  }

  .sign-up-button {
    height:40px;
    width: 150px;
    font-size: 15px;
  }
}

@media screen and (min-width: 765px) {
  .signup-page h3 {
    font-size: 30px;
  }

  .sign-up-main label {
    font-size: 30px;
  }

  .sign-up-main input {
    width: 275px;
    height:45px;
    font-size: 23px;
  }

  .sign-up-button {
    height:45px;
    width: 175px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1000px) { 
  .sign-up-main input {
    width: 300px;
    height:45px;
    font-size: 25px;
  }
}