.search-results {
    margin-top: 50px;
}

.results-li {
  list-style-type: none;
  padding-left: 0;
}
.results-li h3 {
  font-size: 25px;
  color: white;
}
.search-li-item {
  border: 1px;
  border-radius: 3px;
  margin: 8px;
  background-color: rgba(87,5,21,0.65);
  color: white;
} 

.beverage-link {
  font-size: 25px;
  text-shadow: 1px 1px #570515;
  color: white;
}

.search-results a:hover {
  font-size: 30px;
  text-shadow: 2px 2px #570515;
}

.bev_type {
  font-size: 18px;
}